@import "tailwindcss";

:root {
  --background: #FFFFFF;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter-sans);
  /* --font-mono: var(--font-geist-mono); */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter-sans);
}


h2{
font-size: 40px;
font-weight: 600;
}

h3{
  font-size: 24px;
  font-weight: 300;
}

h4{
  font-size: 24px;
  font-weight: 600;
}


.btn-primary{
  padding: .5rem .75rem;
  margin-top: 5px;
  background-color: black;
  color: white;
  border-radius: 5px;
}

.btn-primary:hover{
  cursor: pointer;
  opacity: 80%;
}

input{
  border: black 1px solid;
  width: 200px;
}

input:focus{
  border: black 2px solid;
}

select{
  border: black 1px solid;
  width: 200px;
  height: 40px;
}